body {
  background-image: url("wood.png");
  background-repeat: no-repeat;
   background-size: cover;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333333;
  margin-top: 50px;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#dice-container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#easy-button, #normal-button {
  padding: 30px 20px;
  border-radius: 5px;
  background-color: #333333;
  color: white;
  font-size: 2em;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 10px;
  animation: button-animation 0.5s ease-in-out;
}

@keyframes button-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

}

#roll-button:hover {
  background-color: #3E8E41;
  box-shadow: none;
}

#roll, #score, #total, #session, #mode, #wins, #losses, #high {
  font-size: 2em;
    color: white;
   text-shadow: 2px 2px red;
  margin-top: 20px;
  animation: text-animation 2s ease-in-out;
}

@keyframes text-animation {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

}

#mode {
  font-weight: bold;
}

#easy-button, #normal-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333333;
  color: white;
  font-size: 1.2em;
  margin-top: 20px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 2px 2px #444;
  transition: all 0.3s ease-in-out;
}

#easy-button:hover, #normal-button:hover {
  background-color: #444;
  box-shadow: none;
}
#leaderboard {
  margin: 50px auto;
  width: 800px;
  text-align: center;
  animation: fadeIn 1s ease-in;
}

#leaderboard table {
  width: 100%;
  border-collapse: collapse;
}

#leaderboard th, #leaderboard td {
  padding: 10px;
  border: 1px solid #333333;
  text-align: center;
  font-size: 1.2em;
  color: white;
}

#leaderboard th {
  background-color: #333333;
}

#leaderboard td {
  background-color: #808080;
}
#roll-button {
  font-size: 4em;
  width: 100%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  background-color: #08111f;
  padding: 12px 20px;
  border: #08111f;
  color: red;
}