/* Style the body element */
body {
  background-image: url('https://wallpaperaccess.com/full/3872532.jpg'); /* Set the background image of the body element */
  background-size: cover; /* Make the background image cover the full area of the page */
}

/* Style the banner */
#banner {
  position: absolute; /* Make the banner overlap other elements */
  top: 0; /* Position the banner at the top of the page */
  left: 0; /* Position the banner at the left of the page */
  right: 0; /* Make the banner extend to the right edge of the page */
  height: 200px; /* Set the height of the banner */
  background-image: url('https://d1rw89lz12ur5s.cloudfront.net/photo/elsewherecomics/file/db611650df7911e8a5c1c16a4395f2d8/large/pathfinder%20banner.jpg'); /* Set the background image of the banner */
  background-size: cover; /* Make the background image cover the full area of the banner */
}

/* Style the side panel */
#sidebar {
  position: relative; /* Make the panel stay in one fucking place */
  left: 0; /* Extend the panel to the left edge of the page */
  width: 160px; /* Set the width of the panel */
  height: 400vh; /* Make the panel extend down the full height of the page, minus the height of the banner */
  top: 190px; /* Move the panel down 200px from the top of the page */
  background-color: lightgray; /* Set the background color of the panel */
  border: 5px double black; /* Add a double border to the panel */
  border-radius: 10px; /* Add rounded corners to the panel */
  padding: 20px; /* Add padding to the panel */
}

/* Style the links in the panel */
#sidebar ul {
  list-style: none; /* Remove the dots from the list */
  margin-right: 25px; /* adds margins*/
  padding: 0px; /* Remove the padding from the list */
  text-align: center; /* Center the links within the panel */
  left: 100px; /* hopefully something*/
 
}

/* Style the links in the panel */
#sidebar ul li a {
  display: block; /* Make the links take up the full width of the panel */
  width: 100%; /* Make the links take up the full width of the panel */
  padding: 10px; /* Add padding to the links */
  border: 1px solid black; /* Add a border to the links */
  border-radius: 10px; /* Add rounded corners to the links */
  background-color: white; /* Add a white background color to the links */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect to the links */
  color: black; /* Set
  
  
  
 
